/*
This is a good layout for a mobile-first CSS template.
Following this flow will minimize the number of styles you need to write and will ensure you are thinking, designing and developing mobile-first.
Most of your styles get written like standard CSS, but for your mobile presentation. Generally speaking, a good mobile presention will stretch out nicely for larger screens.
Sometimes, when we stretch out to larger screens, we need to make minor tweaks for the larger devices -- you can make these tweaks in the tablet media query, or if the issue exists on desktop only, the desktop media query.
You will find this is far easier than the opposite task of using CSS to cram your desktop experience into a mobile device.
*/
/*********************************************************************
 LOADS IN A NICE RESET TO ENSURE ALL BROWSERS HAVE THE SAME BASE STYLES
*********************************************************************/
@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css');

/*********************************************************************
  YOUR MOBILE/BASE STYLES GO HERE
*********************************************************************/
* {
    box-sizing: border-box;
}

html,

body {
    /* Sets default font-size to 16px, ensuring 1em = 16px; */
    font-size: 16px;
    margin: auto;
    background-color: #A84C65;
    font-family: 'Barlow', sans-serif;
}

h1{
color: black;
font-family: 'Merriweather', serif;
}

p{
  margin:10px
}



img{
  width: 100%;
}

.subtitle {
  padding:5%;
  text-decoration: underline;
  text-align: center;
  color: black;
  font-family: 'Roboto Mono', monospace;
}

.bigpicpad {
  padding:
}
.caption {
  font-style: italic;
}

.roboto{
  font-family: 'Roboto Mono', monospace;
  color: #3D1C15;
}
.containerphoto{
  margin-left: auto;
  margin-right: auto;
  width: auto;
}
.containerphoto2{
  margin-left: auto;
  margin-right: auto;
  padding:15px;
  width: 50%;
  height: 50%;
}
.containerphoto3{
  padding:2%;
  margin: 2%;
}
.bigtext{
  font-size: 20px;
}


}
.flex {
  display: flex;
  margin: auto;
  width: auto;
}

.sources{
  padding: auto;
}
.outline{
  outline: solid #EACBC6 3px;
  padding: 3%;
  margin:3%;
background-color: #EACBC6;
}


/*********************************************************************
  YOUR TABLET/DESKTOP STYLES GO HERE
*********************************************************************/
